# Database Configuration
# Replace with your PostgreSQL connection string
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

# authentication
JWT_SECRET="your-secret-key"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Server Port
PORT=5000
